* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --primary-color: #0a9c6f;
  --grey-900: #0d1919;
  --grey-800: #4e4e4e;
  --grey-700: #d3d3d3;
  --grey-300: #fefff6;
  --grey-200: #f1f2f6;
  --green-400: #138b80;
  --green-300: #2dca7a;
  --green-100: #dcf8c6;
  --primary-font: "Roboto", sans-serif;
}

body{
    background-color: var(--primary-color);
    padding: 40px;
    }

.app{
    background-color: white;
    display: grid;
    grid-template-columns: 320px 1fr;
    height: 100vh;
    overflow: hidden;
    border-radius: 10px;
     }
/* Aside styles */
aside{
    background-color:var(--grey-900);
    color: white;
}

aside header {
    background-color: var(--grey-800);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    

}

.profile img {
    width: 50px;
    border-radius: 50%;
}
.profile h2 {
    font-size: 20px;
}

.actions{
    display: flex;
    justify-content:end;
    gap: 10px;
}

.actions button {
    padding: 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
   background-color: var(--grey-800);
   color: var(--grey-300);
   transition: transform .2s;
}

.actions button svg{
width: 20px; 
}

.actions button:hover{
    background-color: var(--grey-700);
    transform: translateY(-4px);
}

/* serch input */
.search{
    background-color:var(--grey-800);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 5px;
    
}
.search form input{
    background-color: var(--grey-700);
    width: 100%;
    display: block;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: white;
}

.search input:focus{
    outline: 1px solid --grey-700;
}


.chat ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user-chat{
    background-color: var(--grey-900);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    }
.user-chat img{
    border-radius: 50%;
    width: 50px;
}

.user-chat:hover{
    background-color:var(--grey-700);
    cursor: pointer;
}

/**message panel**/
.app{
    grid-template-columns: 1fr;
    }
aside{
    display: none;
}

.chat-header{
    background-color: var(--grey-700);
    display: flex;
    border-bottom: 1px solid grey;
    padding: 10px;
    align-items: center;
    gap: 10px;
}
.chat-header img{
    width: 60;
    border-radius: 50%;
}   

.chat-header p{
    color: var(--grey-700);
}

footer{
    display: flex;
    background-color: var(--grey-700) ;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    padding: 10px;

    }

footer button{
    width: 25px;
    height: 25px;
    padding: 3px;
}
footer svg {
    width: 100%;
    height: 100%;
}



footer .attach{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--grey-800);
    transition: color 0.2;
}

footer .attach:hover{
    color: var(--grey-900);
}

footer form{
    display: flex;
    align-items: center;
    flex: 1;
}

footer textarea{
    width:100%;
    gap: 45px;
    padding: 8px;
    resize: none;
    border-radius: 15px;
    width: 100%;
    border: none;
}

footer textarea:focus{ 
    outline: 1px solid black ;
    border: none;
}


footer .send{
    background-color: var(--green-400);
    border: none;
    border-radius: 20px;
    color: wheat;
    width: 45px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.1;
}

footer .send:hover{
    background-color: #138b80;
    transform: scale(0.9);
}

